.body {
  font-family: 'Playfair Display', serif;
}

.custom-container {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.park_logo {
  width: 98%;
  margin-bottom: 2em;
  margin-top: 3em;
  background-color: blue; 
}

.sign-button {
  display: flex;
  justify-content: space-around;
  margin-right: 1em;
  margin-left: 1em;
  align-items: center;
}

.info-content {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.info-box {
  flex: 1;
  margin: 1em;
}

.card-header {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 30%;
  margin: 1em;
}

.card-image {
  width: 90%;
  margin: 1.5em;
}